.frameContainerIcon,
.whiteBgIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameContainerIcon {
  object-fit: contain;
  z-index: 1;
}
.contact {
  margin: 0;
}
.proglobalBusinessAdvisors {
  margin: 0;
  color: var(--color-black);
}
.contactProglobalBusinessContainer,
.weAreHere {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.contactProglobalBusinessContainer {
  margin: 0;
  height: 110px;
  font-size: inherit;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.weAreHere {
  align-self: stretch;
  height: 120px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  color: var(--color-darkslategray-300);
}
.textNode1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-17xl);
}
.emailInputIcon {
  height: 14px;
  width: 10px;
  position: relative;
}
.stYard558 {
  position: relative;
  line-height: 30px;
}
.contactInfoBlock {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.vectorIcon {
  height: 12px;
  width: 12px;
  position: relative;
}
.div {
  position: relative;
  line-height: 30px;
  white-space: nowrap;
}
.contactInfoBlock1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.vectorIcon1 {
  height: 12px;
  width: 16px;
  position: relative;
}
.infoproglobalcom {
  position: relative;
  line-height: 30px;
  white-space: nowrap;
}
.contactInfoBlock2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.imageShape {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini);
}
.containerShape,
.imageShape,
.textNode2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textNode2 {
  flex: 1;
  flex-direction: column;
  z-index: 2;
}
.containerShape {
  width: 273px;
  flex-direction: row;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  color: var(--color-darkslategray-300);
}
.followUsOn {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  z-index: 2;
}
.facebookAppSymbol2Icon {
  overflow: hidden;
  flex-shrink: 0;
}
.facebookAppSymbol2Icon,
.linkedInLink,
.linkedInLink1,
.rilinkedinFillIcon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
  z-index: 2;
}
.linkedInLink1,
.rilinkedinFillIcon {
  width: 31.3px;
}
.rilinkedinFillIcon {
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.facebookLinkChild {
  height: 26.6px;
  width: 26px;
  position: relative;
  z-index: 2;
}
.facebookLink {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.addressInput {
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--color-black);
}
.gridTemplateRowsChild,
.textNode {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
}
.textNode {
  width: 929px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-173xl) var(--padding-96xl) var(--padding-187xl)
    var(--padding-91xl);
  gap: var(--gap-13xl);
  min-width: 929px;
}
.gridTemplateRowsChild {
  height: 54px;
  width: 400px;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  display: none;
}
.firstName {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: left;
  z-index: 2;
}
.gridTemplateRows,
.lastNameFieldChild {
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
}
.gridTemplateRows {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
  min-width: 260px;
  white-space: nowrap;
  z-index: 1;
}
.lastNameFieldChild {
  height: 54px;
  width: 400px;
  position: relative;
  display: none;
}
.lastName {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: left;
  z-index: 2;
}
.firstNameField,
.lastNameField {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.lastNameField {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  align-items: center;
  padding: var(--padding-smi) var(--padding-xl);
  min-width: 260px;
  white-space: nowrap;
  z-index: 1;
}
.firstNameField {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-7xl);
}
.firstNameFieldChild {
  height: 54px;
  width: 826.5px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.emailAddress {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: left;
  z-index: 2;
}
.firstNameField1,
.firstNameFieldItem {
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
}
.firstNameField1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
  z-index: 1;
}
.firstNameFieldItem {
  height: 54px;
  width: 826.5px;
  position: relative;
  display: none;
}
.phone {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: left;
  z-index: 2;
}
.firstNameField2,
.firstNameFieldInner {
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
}
.firstNameField2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
  z-index: 1;
}
.firstNameFieldInner {
  height: 54px;
  width: 826.5px;
  position: relative;
  display: none;
}
.address {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: left;
  z-index: 2;
}
.firstNameField3,
.rectangleDiv {
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
}
.firstNameField3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
  z-index: 1;
}
.rectangleDiv {
  height: 120px;
  width: 826.5px;
  position: relative;
  display: none;
}
.typeYourMessage {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: left;
  z-index: 2;
}
.firstNameField4,
.flexboxAlignItems {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.firstNameField4 {
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-xl) var(--padding-60xl);
  z-index: 1;
}
.flexboxAlignItems {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.applyNow {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-gotham);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.applyButtonChild {
  height: 11.3px;
  width: 11.3px;
  position: absolute;
  margin: 0 !important;
  top: 22.4px;
  right: 56.3px;
  object-fit: contain;
  z-index: 2;
}
.applicationForm,
.applyButton {
  display: flex;
  justify-content: flex-start;
}
.applyButton {
  border-radius: var(--br-6xs);
  background-color: var(--color-orangered);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-65xl) var(--padding-2xl)
    var(--padding-35xl);
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.applicationForm {
  margin: 0;
  width: 827px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-34xl);
  min-width: 827px;
  max-width: 100%;
}
.frameChild {
  height: 180px;
  width: 1700px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-orangered);
  display: none;
  max-width: 100%;
}
.gainAccessTo,
.subscribeToOur {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.gainAccessTo {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-family: inherit;
}
.subscribeToOur {
  font-size: var(--font-size-lg);
  line-height: 30px;
}
.variableDefinition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.enterYourEmail {
  position: relative;
  line-height: 28px;
  z-index: 1;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.emailInputFrameChild {
  align-self: stretch;
  width: 650px;
  position: relative;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.subscribeNow {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.elseStatementChild {
  height: 11.3px;
  width: 11.3px;
  position: absolute;
  margin: 0 !important;
  top: 22.3px;
  right: 34.8px;
  object-fit: contain;
  z-index: 1;
}
.elseStatement {
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-44xl) var(--padding-2xl)
    var(--padding-14xl);
  position: relative;
  white-space: nowrap;
}
.bUtton,
.elseStatement,
.emailInputFrame {
  border-radius: var(--br-6xs);
}
.bUtton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  z-index: 3;
  font-size: var(--font-size-base);
  font-family: var(--font-gotham);
}
.emailInputFrame {
  width: 654px;
  border: 1px solid var(--color-white);
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-13xl);
  gap: var(--gap-145xl);
  z-index: 2;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.emailInputFrame,
.rectangleParent,
.whiteBgParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  width: 1700px;
  margin: 0 !important;
  position: absolute;
  bottom: -94px;
  left: calc(50% - 850px);
  border-radius: var(--br-6xs);
  background-color: var(--color-orangered);
  justify-content: space-between;
  padding: var(--padding-35xl) var(--padding-77xl) var(--padding-35xl)
    var(--padding-53xl);
  gap: var(--gap-xl);
  z-index: 2;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.whiteBgParent {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-168xl) 0 0;
  position: relative;
  gap: var(--gap-35xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-orangered);
  font-family: var(--font-gotham);
}
@media screen and (max-width: 1725px) {
  .applicationForm,
  .textNode {
    flex: 1;
  }
  .rectangleParent,
  .whiteBgParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .textNode {
    padding: var(--padding-106xl) var(--padding-38xl) var(--padding-115xl)
      var(--padding-36xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .whiteBgParent {
    padding-top: var(--padding-103xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .contactProglobalBusinessContainer {
    font-size: var(--font-size-10xl);
    line-height: 44px;
  }
  .firstNameField {
    flex-wrap: wrap;
  }
  .applicationForm {
    min-width: 100%;
  }
  .emailInputFrame {
    flex-wrap: wrap;
  }
  .whiteBgParent {
    gap: var(--gap-35xl);
    padding-top: var(--padding-60xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contactProglobalBusinessContainer {
    font-size: var(--font-size-3xl);
    line-height: 33px;
  }
  .textNode {
    gap: var(--gap-13xl);
    padding: var(--padding-62xl) var(--padding-9xl) var(--padding-68xl)
      var(--padding-8xl);
    box-sizing: border-box;
  }
  .applicationForm {
    gap: var(--gap-34xl);
  }
  .gainAccessTo {
    font-size: var(--font-size-2xl);
    line-height: 34px;
  }
}
