.homepageProglobalUpdate10Child,
.whiteBgIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.homepageProglobalUpdate10Item {
  width: 1701px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
  opacity: 0.3;
  max-width: 100%;
}
.rectangleChild {
  height: 40px;
  width: 1920px;
  position: relative;
  background-color: var(--color-orangered);
  display: none;
  max-width: 100%;
}
.frameIcon {
  height: 12px;
  width: 16px;
  position: relative;
  z-index: 2;
}
.infoproglobalcom {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 2;
}
.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frameIcon1,
.rectangle1 {
  position: relative;
  z-index: 2;
}
.frameIcon1 {
  height: 12px;
  width: 12px;
}
.rectangle1 {
  font-weight: 500;
  white-space: nowrap;
}
.linkedInFill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-7xs);
}
.facebookAppSymbol2Icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.facebookAppSymbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px 0 0;
  gap: var(--gap-9xl);
}
.applicationProcessChild {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 2;
}
.applicationProcess {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px 0 0;
}
.applicationProcessItem {
  width: 23.5px;
  height: 24px;
  position: relative;
  z-index: 2;
}
.applicationProcess1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.rilinkedinFillIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 2;
}
.rectangle,
.rectangle2,
.rectangleParent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.rectangle {
  background-color: var(--color-orangered);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-5xs) 1194px;
  box-sizing: border-box;
  gap: 17px;
  z-index: 1;
}
.rectangle2,
.rectangleParent {
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}
.rectangle2 {
  align-items: center;
  gap: var(--gap-80xl);
}
.rectangleParent {
  align-items: flex-start;
  padding: 0 0 184px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-gotham);
}
.badgeLogoWhite2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -0.5px;
  right: 0;
  bottom: 0.5px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.who1 {
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.who {
  margin: 0;
}
.we1 {
  font-size: var(--font-size-131xl);
  color: var(--color-orangered);
}
.are,
.we {
  margin: 0;
}
.are {
  line-height: 66px;
}
.whoWeAreContainer {
  align-self: stretch;
  height: 266px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  z-index: 1;
}
.who3 {
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.who2 {
  margin: 0;
}
.you1 {
  font-size: var(--font-size-131xl);
  color: var(--color-orangered);
}
.are1,
.you {
  margin: 0;
}
.are1 {
  line-height: 66px;
}
.whoYouAreContainer {
  align-self: stretch;
  height: 266px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0;
  z-index: 2;
  margin-top: -266px;
}
.badgeLogoWhite2Parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 90px var(--padding-35xl);
  box-sizing: border-box;
  position: relative;
  min-height: 524px;
}
.bUttonChild {
  width: 350px;
  margin: 0 !important;
  top: 0.5px;
  right: -128px;
  bottom: -0.5px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.bUttonChild,
.infoproglobalcom1,
.styardstreetNewYork {
  height: 100%;
  position: absolute;
  border-radius: var(--br-6xs);
}
.infoproglobalcom1 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-orangered);
  box-sizing: border-box;
  width: 100%;
}
.styardstreetNewYork {
  width: 350px;
  margin: 0 !important;
  top: 0.5px;
  right: -128px;
  bottom: -0.5px;
  background-color: var(--color-orangered);
  z-index: 1;
}
.whoYouAre {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.facebookAppSymbolChild {
  height: 11.3px;
  width: 11.3px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 6.2px);
  right: 0.4px;
  object-fit: contain;
}
.bUtton,
.facebookAppSymbol1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.facebookAppSymbol1 {
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
  gap: var(--gap-base);
  z-index: 2;
}
.bUtton {
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-orangered);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-15xl) var(--padding-xl)
    var(--padding-14xl);
  z-index: 3;
  margin-top: -143px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.component13,
.emailAddress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.emailAddress {
  width: 524px;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-height: 564px;
}
.component13 {
  width: 1700px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-27xl);
  z-index: 1;
}
.badgeLogoWhite21 {
  width: 523.9px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  margin-left: -1112px;
}
.group {
  width: 1740px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-88xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-gotham);
}
.groupIcon,
.homepageProglobalUpdate10Inner {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.homepageProglobalUpdate10Child1,
.homepageProglobalUpdate10Child2,
.homepageProglobalUpdate10Child3,
.lineDiv {
  width: 1px;
  height: 21px;
  position: relative;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
  opacity: 0.3;
}
.linkedInFill1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1540px 0 0;
  box-sizing: border-box;
  position: relative;
  min-height: 2827px;
  max-width: 100%;
}
.homepageProglobalUpdate10,
.rectangle3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.rectangle3 {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.homepageProglobalUpdate10 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  padding: 0 0 var(--padding-108xl);
  box-sizing: border-box;
  letter-spacing: normal;
}
@media screen and (max-width: 1725px) {
  .rectangle {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .rectangle {
    padding-left: 597px;
    box-sizing: border-box;
  }
  .rectangle2 {
    gap: var(--gap-80xl);
  }
  .rectangleParent {
    padding-bottom: var(--padding-101xl);
    box-sizing: border-box;
  }
  .linkedInFill1 {
    padding-top: 651px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .rectangle {
    padding-left: 298px;
    box-sizing: border-box;
  }
  .rectangle2 {
    gap: var(--gap-80xl);
  }
  .rectangleParent {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .whoWeAreContainer,
  .whoYouAreContainer {
    font-size: var(--font-size-19xl);
  }
  .badgeLogoWhite2Parent {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .component13 {
    gap: var(--gap-27xl);
  }
  .group {
    padding-bottom: 70px;
    box-sizing: border-box;
  }
  .linkedInFill1 {
    padding-top: 423px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangle {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .whoWeAreContainer,
  .whoYouAreContainer {
    font-size: var(--font-size-10xl);
  }
  .badgeLogoWhite2Parent {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
  .group {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
}
